config.py
__pycache__/
env/
downloads/
files/spongebob_quotes_custom.txt
cogs/__pycache__
cogs/__pycache__/
files/mock_time.txt
.vscode
files/BBTCG/cards/*
files/BBTCG/users/*
files/BBTCG/__pycache__
gary.log
files/logs/gary.log
testing/
files/BBTCG/graph.png